



.h-home-view {
    width: 100%;
}

.h-preview-container {

}

.h-wrapper {
    display: flex;

}

.h-preview-container-title {

}

.hr-preview-wrapper {
    display: flex;
    flex-direction: row;
}