


.sidenav {
  height: 100%;
  width: 55px;
  display: flex;
  text-align: center;

  flex-direction: column;
  /*box-sizing: content-box;*/

  background-color: rgb(30, 31, 34);

}



/*Home button section*/
.home-page {

}

.home-page-button {

}

/*Library button section*/
.library-page {

}

.library-page-button {

}

/*Journal button section*/
.journal-page {

}

.journal-page-button {

}

/*Discovery button section*/
.discovery-page {

}

.discovery-page-button {

}

/*Reader button section*/
.reader-page {

}

.reader-page-button {

}

/*Grocery List button section*/
.grocery-list-page {

}

.grocery-list-page-button {

}

/*Grocery List button section*/
.substitution-page {

}

.substitution-page-button {

}


/*button {*/
/*  width: 34px;*/

/*}*/

